html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(farthest-corner at 0% 100%, rgba(0,59,87, 0.9) 5%, rgba(81,199,218, 0.1) 50%) no-repeat, radial-gradient(farthest-corner at 100% 100%, rgb(0,29,65) 15%, rgb(81,199,218) 90%) no-repeat;
    /* background-size: 100% 138%;
    background-position: 0 200; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Economica';
    text-shadow: 1px 1px #000;
}

header {
    /* display: flex;
    align-content: flex-end;
    flex-direction: column; */
    /* background: rgb(81,199,218); */
    /* height: 300px; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'img title';
}

header h1 {
    color: white;
    /* background: rgba(0,59,87, 0.7); */
    font-size: 7.2rem;
    letter-spacing: 2px;
    text-align: left;
    width: 100%;
    margin-top: 100px;
    grid-area: title;
}

.koala {
    width: 150px;
    position: absolute;
    right: 10%;
    top: 17px;
}
.bkgd-graphic {
    width: 40%;
    position: absolute;
    left: 0;
    top: -2px;
    z-index: -10;
}

.project-carousel-container {
    height: 400px;
    width: 50%;
    background-color: rgb(0,59,87);
    margin: 75px auto;
    box-shadow: 2px 2px 25px -9px;
}

div img {
    transform: rotate(90deg);

}

footer {
    height: 100px;
}
footer p {
    text-align: center;
    color: #fff;
}