html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(farthest-corner at 0% 100%, rgba(0,59,87, 0.9) 5%, rgba(81,199,218, 0.1) 50%) no-repeat, radial-gradient(farthest-corner at 100% 100%, rgb(0,59,87) 15%, rgb(81,199,218) 90%) no-repeat;
    /* background-size: 100% 138%;
    background-position: 0 200; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Francois One', sans-serif;
}

header {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    /* background: rgb(81,199,218); */
    height: 300px;
}
header div {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 59, 87);

}

header h1 {
    color: white;
    font-size: 72px;
    letter-spacing: 2px;
    padding: 3% 0;
    text-align: center;
    width: 100%;
    margin-top: 150px;
}

header img {
    width: 150px;
    position: absolute;
    right: 10%;
    top: 17px;
}
.bkgd-graphic {
    width: 1000px;
    /* transform: rotate(270deg); */
    position: absolute;
    left: 0;
    top: -50px;
    z-index: -10;
}

.project-carousel-container {
    height: 400px;
    width: 50%;
    background-color: rgb(0,59,87);
    margin: 75px auto;
    box-shadow: 2px 2px 25px -9px;
}

div img {
    transform: rotate(90deg);

}
footer p {
    text-align: center;
    color: #fff;
}